{% magic_with item_name as yellowTulip %}
{% magic_with load_items_effect.item_name as redRose %}
{% magic_with load_item_effect.item_name as blueDaisy %}
{% magic_with load_item_effect.name_postfix as Flower %}
import { normalize, schema } from 'normalizr';
import { ApiBase } from 'src/api/ApiBase';
import { ObjT } from 'src/utils/types';

{% for item_name in res.item_names %}
const yellowTulip = new schema.Entity('yellowTulip');
{% endfor %}

{% for load_items_effect in res.api_module.load_items_effects %}
const redRoseList = new schema.Array(redRose);
{% endfor %}

export class Api extends ApiBase {
{% for load_items_effect in res.api_module.load_items_effects %}
  getRedRoses() {
    return this._doQuery(
      'getRedRoses',
      `query getRedRoses {
        redRoses {
          id
          name
        }
      }`,
      {},
      (response: ObjT) => normalize(response.redRoses, redRoseList).entities,
      (error: ObjT) => error.response.errors[0].message
    );
  }

{% endfor %}
{% for load_item_effect in res.api_module.load_item_effects %}
{% with params = res.params(load_item_effect) %}
  getBlueDaisyFlower(
    {{ params.params }}
  ) {
    return this._doQuery(
      'getBlueDaisyFlower',
      `query getBlueDaisyFlower(
{{ params.graphql_params }}
      ) {
        blueDaisyFlower(
{{ params.graphql_params_inner }}
        ) {
          id
          name
        }
      }`,
      {
        {{ params.vars }}
      },
      (response: ObjT) => normalize(response.blueDaisyFlower, blueDaisy).entities,
      (error: ObjT) => error.response.errors[0].message
    );
  }
{% endwith %}

{% endfor %}
}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
{% end_magic_with %}
